.art-gallery-body {
    overflow-x: hidden;
    overflow-y: auto;
}
.art-gallery-container {
    position: relative;
    display: flex;
    padding: 0 15px;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.art-gallery-button:hover {
    background-color: white;
    transition-duration: .30s;
}

.art-gallery-button {
    position: absolute;
    top: 80%;
    color: white;
    letter-spacing: .2rem;
    font-size: large;
}

.art-gallery-span {
    position: absolute;
    top: 35%;
    font-size: xx-large;
    color: white;
}

.hero {
    width: 100%;
    height: 1259px;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/images/home2.jpg");
}